.advantages {
  padding-top: 110px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  background-image: linear-gradient(174deg, #fff, #fff 7%, #f2f2f2 7%);
  text-align: center;

  &::after {
    content: ' ';
    display: block;
    height: 330px;
    background: url("../img/iphone-hello-all.png");
    background-repeat: no-repeat;
    background-position: 50%, 0;
    background-size: contain;
  }

  &__item {
    margin-bottom: 31px;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000;
  }

  &__text {
    text-align: center;
    line-height: 24px;
    margin: 0;
  }

}
