.info {
  padding-bottom: 319px;
  background: url("../img/iphone-screen.png") #f2f2f2 50% 100% no-repeat;

  &__convince {
    background-color: $white;
    padding-top: 43px;

    &-item {
      font-size: 24px;
      line-height: 29px;
      font-weight: 300;
      text-align: center;
      margin: 0 0 37px 0;
    }

  }

  &__advantages {
    text-align: center;
    padding: 88px 24px 0;
  }

  &__advantages-header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  &__advantages-text {
    line-height: 24px;
    font-weight: 300;
  }
}
