.price {
  position: relative;
  padding-top: 87px;
  padding-right: 20px;
  padding-bottom: 99px;
  padding-left: 20px;
  background-image: linear-gradient(175deg, #fff, #fff 4%, #f2f2f2 4%);

  &__table {
    width: 100%;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-collapse: collapse;


    &-head {
      background-color: $brand-color;
      color: $white;

      &-col {
        padding-top: 22px;
        padding-right: 22px;
        padding-bottom: 22px;
        padding-left: 22px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        overflow: hidden;

        &--hit::after {
          content: 'хит';
          display: block;
          width: 102px;
          background-color: #d22856;
          position: absolute;
          left: -24px;
          top: 11px;
          transform: rotate(-45deg);
          text-transform: uppercase;
          line-height: 30px;
          font-weight: 600;
        }

        &-usd {
          display: block;
          font-size: 24px;
          line-height: 30px;
          font-weight: 300;
          margin-top: 6px;
        }

      }

    }

    &-body {
      background-color: #fff;

      &-col {
        position: relative;
        line-height: 30px;
        text-transform: uppercase;
        border: 2px solid #e5e5e5;
        padding-top: 15px;
        padding-right: 55px;
        padding-bottom: 15px;
        padding-left: 22px;
        text-align: left;

        &:first-child {
          border-top: none;
        }

        &::after {
          content: ' ';
          display: block;
          width: 29px;
          height: 29px;
          position: absolute;
          right: 18px;
          top: 19px;
          background-image: url("../img/no.png");
          background-repeat: no-repeat;
          background-position: 50% 0;
        }

        &--checked::after {
          background-image: url("../img/yes.png");
        }

      }

    }

  }

  &__navigation {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0;
  }

  &__nav-item {
    display: inline-block;
    margin-left: 6px;
    margin-right: 7px;
  }

  &__nav-link {
    display: block;
    box-sizing: content-box;
    width: 6px;
    height: 6px;
    border: 3px solid transparent;
    background-color: #bec2c7;
    background-clip: content-box;
    border-radius: 50%;

    &--active {
      border-color: $brand-color;
      background-color: $white;

    }

  }

}
