//colors
$brand-color: #283645;
$crimson-color: #d22856;
$gray-bg-color: #f2f2f2;

//responsive
$mobile: 320px;
$tablet: 700px;
$desktop: 1200px;

// greeed
$columns-mobile: 4;
$columns-tablet: 8;
$columns-desktop: 12;
$columns-padding: 10px;

