*,
*::before,
*::after {

  box-sizing: border-box;

}

html, body {

  padding: 0;
  margin: 0;

}

body {

  font: normal 14px/27px 'Open Sans', 'Arial', sans-serif;
  color: $brand-color;
  min-width: 320px;

}

fieldset {

  border: none;
  padding: 0;

}

input[type='text'],
input[type='password'] {

  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 22px;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  width: 100%;
  @include border-raduis(2px);

  &:disabled {

    background-color: $gray-bg-color;
    cursor: not-allowed;

  }

}

label {

  line-height: 30px;

}

legend {

  text-align: center;

}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='radio'] ~ label:before {
  position: absolute;
  content: ' ';
  display: block;
  width: 39px;
  height: 39px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  left: 0;
  top: 50%;
  margin-top: -20px;
  @include border-raduis(50%);
}

input[type='radio'] ~ label:after {

}
