*,
*::before,
*::after {

  box-sizing: border-box;

}

html, body {

  padding: 0;
  margin: 0;

}

body {

  min-width: 320px;

}

a {

  color: $crimson-color;

}

fieldset {

  border: none;
  padding: 0;
  margin: 0;

}

label {

  line-height: 30px;

}

legend {

  text-align: center;

}



.clearfix::after {

  content: '';
  display: table;
  clear: both;

}

.block {

  display: block;

}

.mobile-hide {

  display: none;

  @media (min-width: $tablet) {

    display: table-cell;

  }

}

.tablet-show {

  display: none;

  @media (min-width: $tablet) {

    display: block;

  }

}

.invisible {

  visibility: hidden;

}
