*,
*::before,
*::after {

  box-sizing: border-box;

}

html, body {

  padding: 0;
  margin: 0;

}

body {

  min-width: 320px;

}

a {

  color: $crimson-color;

}

fieldset {

  border: none;
  padding: 0;
  margin: 0;

}

label {

  line-height: 30px;

}

legend {

  text-align: center;

}



.clearfix::after {

  content: '';
  display: table;
  clear: both;

}

.block {

  display: block;

}

.tablet-block {

  @media (min-width: $tablet) {

    display: block;

  }

}

.tablet-block-only {

  @media (min-width: $tablet) {

    display: block;

  }

  @media (min-width: $desktop) {

    display: inline;

  }

}

.mobile-hide {

  @media (max-width: $tablet - 1) {

    display: none !important;

  }

}

.tablet-hide {


  @media (min-width: $tablet) and (max-width: $desktop - 1) {

    display: none !important;

  }

}

.desktop-hide {

  @media (min-width: $desktop) {

    display: none !important;

  }

}

.invisible {

  visibility: hidden;

}
