body {

  font: normal 14px/27px 'Open Sans', 'Arial', sans-serif;
  color: $brand-color;

}

.h1 {

  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet) {

    font-size: 40px;

  }

  &--imaged {

    padding-bottom: 310px;
    background-image: url('../img/iphone-hand-mobile.png');
    background-position: 0 100%;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../img/iphone-hand-mobile@2x.png');

    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {

      background-image: url('../img/iphone-hand-mobile@3x.png');

    }

    @media (min-width: $tablet) {

      padding-right: 61.29%;
      padding-top: 100px;
      padding-left: 9.67%;
      background-image: url('../img/iphone-hand-tablet@1x.png');
      background-position: 50% 100%;

    }

  }

  &:last-child {

    margin-bottom: 0;

  }

  &--light {

    color: #ffffff;

  }



}
