.advantages {

  padding-right: 20px;
  padding-bottom: 290px;
  padding-left: 20px;
  text-align: center;
  background: url("../img/iphone-hello-all.png");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  &__item {

    margin-bottom: 31px;

  }

  &__heading {

    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000;

  }

  &__text {

    text-align: center;
    line-height: 24px;
    margin: 0;

  }

}
