.advantages {

  background-color: #f2f2f2;
  background-image: url('../img/triangle-white.svg');
  background-repeat: no-repeat;
  background-size: 100% 32px;
  background-position: 50% 0;

  @media (min-width: $tablet) {

    background-size: 100% 53px;

  }

  @media (min-width: $desktop) {

    background-size: 100% 91px;

  }

  &__wrap {

    background-image: url('../img/screen-mobile-3.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: auto 278px;
    padding-top: 79px;
    padding-bottom: 287px;

    @media (min-width: $tablet) {

      padding-left: 50%;
      padding-top: 90px;
      padding-bottom: 41px;
      background-image: url('../img/iphone-screen-tablet-3@1x.png');
      background-position: 0 100%;
      background-size: auto 481px;
      position: relative;

    }

    @media (min-width: $desktop) {

      padding-left: 0;
      padding-top: 0;
      background: none;

    }

  }

  &__item {

    margin-bottom: 31px;


    @media (min-width: $tablet) {

      margin-bottom: 35px;

      &:last-child {

        margin-bottom: 0;

      }

      @media (min-width: $desktop) {

        background-repeat: no-repeat;
        background-position: 50% 0;
        text-align: center;
        padding-top: 355px;

      }

    }

    &--mood {

      @media (min-width: $desktop) {

        background-image: url('../img/iphone-screen-desktop-1@1x.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

          background-image: url('../img/iphone-screen-desktop-1@2x.png');

        }

      }

    }

    &--world {

      @media (min-width: $desktop) {

        background-image: url('../img/iphone-screen-desktop-2@1x.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

          background-image: url('../img/iphone-screen-desktop-2@2x.png');

        }

      }

    }

    &--friends {

      @media (min-width: $desktop) {

        background-image: url('../img/iphone-screen-desktop-3@1x.png');

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

          background-image: url('../img/iphone-screen-desktop-3@2x.png');

        }

      }

    }

  }

  &__heading {

    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-align: center;

    @media (min-width: $tablet) {

      text-align: left;

    }

    @media (min-width: $desktop) {

      text-align: center;

    }

  }

  &__text {

    margin: 0;
    text-align: center;

    @media (min-width: $tablet) {

      text-align: left;

    }

    @media (min-width: $desktop) {

      text-align: center;

    }

  }

}
