.btn {

  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 15px 5px 14px;
  color: $brand-color;
  border: none;
  cursor: pointer;

  &--upload {

    border: 2px solid #e5e5e5;
    text-transform: uppercase;
    background-color: #ffffff;
    margin-bottom: 33px;

  }

  &--download {

    margin-bottom: 35px;
    border-radius: 55px;
    padding-top: 14px;
    padding-bottom: 17px;
    border: 3px solid #ffffff;
    color: #ffffff;
    line-height: 18px;

    @media (min-width: $tablet) {

      margin-bottom: 47px;

    }

  }

  &--submit {

    padding-top: 17px;
    padding-bottom: 16px;
    background-color: #2aab6d;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 37px;
    color: #ffffff;

  }

}
