.btn {

  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 17px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &--primary {
    border: 3px solid #ffffff;
    color: #ffffff;
  }

  &--download {
    margin-bottom: 35px;
    @include border-radius(55px);
  }

}
