.diagram {

  @media (min-width: $tablet) {

    background-color: #ffffff;
    padding-top: 57px;
    padding-bottom: 38px;

  }

  @media (min-width: $desktop) {

    background-color: $gray-bg-color;
    padding-top: 13px;
    padding-bottom: 66px;

  }

  &__timer-wrap {

    @media (min-width: $tablet) {

      background-image: url('../img/timer.svg');
      background-repeat: no-repeat;
      width: 262px;
      height: 302px;
      background-size: contain;
      padding-top: 65px;
      padding-right: 26px;
      padding-bottom: 25px;
      padding-left: 24px;

    }

    @media (min-width: $desktop) {

      height: 346px;
      width: 300px;
      padding-top: 76px;
      padding-right: 30px;
      padding-bottom: 29px;
      padding-left: 29px;

    }

  }

  &__timer-inner {

    border-radius: 50%;
    border: 10px solid $crimson-color;
    width: 100%;
    height: 100%;

  }

  &__timer-time {

    font-size: 105px;
    line-height: 1;
    font-weight: 700;
    color: #d22856;
    text-align: center;
    margin-top: 50%;
    transform: translate(0, -53%);

    @media (min-width: $desktop) {

      font-size: 120px;

    }

  }

  &__text-wrap {

    @media (min-width: $tablet) {

      padding-top: 39px;
      margin-left: -10px;
    }

    @media (min-width: $desktop) {

      padding-top: 91px;
      padding-left: 45px;
      margin-left: 0;

    }

  }

  &__heading {

    @media (min-width: $tablet) {

      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      color: #000000;
      margin: 0;

    }

  }

  &__text {

    @media (min-width: $tablet) {

      margin-top: 10px;
      margin-bottom: 10px;

    }

    @media (min-width: $desktop) {

      margin-right: 20px;
      margin-bottom: 32px;
      margin-top: 20px;

    }



  }

}
