.form {

  &__fieldset-intro {

    line-height: 30px;
    text-align: center;
    margin-bottom: 44px;

  }

  &__legend {

    text-align: center;
    color: $crimson-color;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 37px;

  }

  &__fieldset-wrap {

    background-color: #ffffff;
    padding-top: 38px;
    padding-left: 20px;
    padding-bottom: 43px;
    padding-right: 20px;


    &:nth-child(2n) {

      background-color: $gray-bg-color;

    }

  }

  &__required {

    text-align: center;
    text-transform: uppercase;
    line-height: 30px;

  }

  &__notice {

    color: $crimson-color;

  }

}
