.container {

  padding-left: 6.25%;
  padding-right: 6.25%;

  @media (min-width: $tablet) {

    padding-left: 5.71428%;
    padding-right: 5.71428%;

  }

  @media (min-width: $desktop) {

    padding-left: 10%;
    padding-right: 10%;

  }

}

.row {

  margin-left: -$columns-padding;
  margin-right: -$columns-padding;

}

.row::after,
.row::before {

  content: '';
  display: table;
  clear: both;

}

[class^="col-"] {

  float: left;
  position: relative;
  padding-left: $columns-padding;
  padding-right: $columns-padding;
  min-height: 1px;

}



@for $i from 1 through $columns-mobile {

  .col-mobile-#{$i} {

    width: ($i / $columns-mobile) * 100%;

  }

  .col-mobile-offset-#{$i} {

    margin-left: ($i / $columns-mobile) * 100%;

  }


}



@for $i from 1 through $columns-tablet {

  .col-tablet-#{$i} {

    @media (min-width: $tablet) {

      width: ($i / $columns-tablet) * 100%;

    }

  }

  .col-tablet-offset-#{$i} {

    @media (min-width: $tablet) {

      margin-left: ($i / $columns-tablet) * 100%;

    }

  }

}



@for $i from 1 through $columns-desktop {

  .col-desktop-#{$i} {

    @media (min-width: $desktop) {

      width: ($i / $columns-desktop) * 100%;

    }

    @media (min-width: $desktop) {

      .col-desktop-offset-#{$i} {

        margin-left: ($i / $columns-desktop) * 100%;

      }

    }

  }

}
