.heading-wrap {

  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 56px;
  padding-left: 20px;

  &--imaged {

    padding-bottom: 305px;
    background: url('../img/phone-in-hand.png') 50% 100% no-repeat;

  }

}
