.heading-wrap {

  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 56px;
  padding-left: 20px;

  &--imaged {

    padding-bottom: 305px;
    background-image: url('../img/iphone-hand-mobile.png');
    background-repeat: no-repeat;
    background-position: 0 100%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../img/iphone-hand-mobile@2X.png');

    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {

      background-image: url('../img/iphone-hand-mobile@3X.png');

    }

  }

}
