.input-group {

  margin-bottom: 16px;

  &:last-child {

    margin-bottom: 0;

  }

  &__label {

    display: block;
    padding-left: 23px;
    margin-bottom: 7px;
    color: $crimson-color;
    text-transform: uppercase;

    &--under-input {

      margin-top: 10px;
      margin-bottom: 0;
      text-align: center;
      padding-left: 0;

    }

  }

  &__radio[type='radio'] {

    display: none;

  }

  &__radio-label {

    position: relative;
    padding-left: 60px;
    font-size: 18px;
    line-height: 30px;
    display: block;
    margin-bottom: 43px;

    &::before {

      position: absolute;
      content: ' ';
      display: block;
      width: 39px;
      height: 39px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      left: 0;
      top: 50%;
      margin-top: -20px;
      @include border-raduis(50%);

    }

    &::after {

      position: absolute;
      content: ' ';
      width: 15px;
      height: 15px;
      background-color: $crimson-color;
      @include border-raduis(50%);
      left: 12px;
      top: 50%;
      margin-top: -8px;
      display: none;

    }

  }

  &__radio:checked + &__radio-label:after {

    display: block;

  }

}
