.input-group {

  margin-bottom: 16px;

  &:last-child {

    margin-bottom: 0;

  }

  &__label {

    display: block;
    padding-left: 23px;
    margin-bottom: 7px;
    color: $crimson-color;
    text-transform: uppercase;

    &--under-input {

      margin-top: 10px;
      margin-bottom: 0;
      text-align: center;
      padding-left: 0;

    }

  }

  &__submit {

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    padding-top: 17px;
    padding-right: 5px;
    padding-bottom: 16px;
    padding-left: 5px;
    background-color: #2aab6d;
    width: 100%;
    margin-bottom: 37px;
    @include border-raduis(2px);

  }


}
