.map {

  position: relative;
  height: 200px;

  @media (min-width: $tablet) {

    height: 378px;

  }

  @media (min-width: $desktop) {

    height: 522px;

  }

  &::before {

    content: '';
    display: block;
    width: 100%;
    height: 33px;
    background-image: url('../img/triangle-white-footer.svg');
    background-size: 100% 100%;
    position: absolute;
    z-index: 1;

    @media (min-width: $tablet) {

      height: 72px;

    }

    @media (min-width: $desktop) {

      height: 123px;

    }

  }

}
