.nav-toogle {

  display: block;
  background-image: url("../img/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  text-indent: -9999px;
  width: 50px;
  height: 24px;
  float: right;

  @media (min-width: $tablet) {

    margin-top: 15px;

  }

  @media (min-width: $desktop) {

    display: none;

  }

  &--opened {

    background-image: url("../img/menu-cross.svg");
    width: 24px;
    height: 24px;

  }

}
