.nav-bar {

  padding-top: 21px;
  padding-bottom: 20px;
  background-color: rgba(0,0,0,0.3);

  @media (min-width: $tablet) {

    padding-top: 27px;
    padding-bottom: 43px;

  }

  &--opened {

    background-color: $brand-color;
    border-bottom: 1px solid #030303;
  }


  &::after {

    content: '';
    display: table;
    clear: both;

  }

}
