.nav-toogle {

  display: block;
  background-image: url("../img/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  text-indent: -9999px;
  width: 50px;
  height: 24px;
  float: right;

  @media (min-width: 700px) {

    margin-top: 15px;

  }

  &--opened {

    background-image: url("../img/menu-cross.png");
    width: 23px;
    height: 22px;

  }

}
