.nav-bar {

  position: relative;
  background-color: rgba(0, 0, 0, 0.3);

  &__wrap {

    padding-top: 21px;
    padding-bottom: 21px;

    &--opened {

      background-color: $brand-color;
      border-bottom: 1px solid #030303;

    }

    @media (min-width: $tablet) {

      padding-top: 27px;
      padding-bottom: 43px;

    }

  }

  &::after {

    content: '';
    display: table;
    clear: both;

  }

}
