.page-header {

  background: url('../img/header-bg-xs.jpg');
  background-color: #2c3b4b;
  background-repeat: no-repeat;
  background-position: 50%, bottom;
  background-size: cover;
  position: relative;

}
