.price {

  background-color: $gray-bg-color;
  background-image: url('../img/triangle-white.svg');
  background-repeat: no-repeat;
  background-size: 100% 32px;
  padding-top: 67px;
  padding-bottom: 99px;
  position: relative;

  &__table {

    border-collapse: collapse;
    width: 100%;

    @media (min-width: $tablet) {

      float: left;
      width: 25%;

    }

    &--with-prop-list {

      @media (min-width: $tablet) {

        width: 50%;

      }


    }

  }

  &__table-head {

    background-color: $brand-color;
    color: #ffffff;

  }

  &__table-head-col {

    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-top: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;

    &--hit::after {

      content: attr(data-hit);
      display: block;
      width: 102px;
      background-color: #d22856;
      position: absolute;
      left: -25px;
      top: 10px;
      transform: rotate(-45deg);
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 600;

      @media (min-width: $tablet) {

        width: 85px;
        top: 5px;
        left: -23px;

      }

    }

    @media (min-width: $tablet) {

      font-size: 16px;

    }

  }

  &__table-head-col-usd {

    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 6px;

    @media (min-width: $tablet) {

      font-size: 18px;

    }

  }



  &__tabel-body {

    background-color: #fff;

  }

  &__table-body-col {

    text-transform: uppercase;
    border-top: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 22px;
    text-align: left;
    line-height: 30px;
    background-color: #ffffff;

    @media (min-width: $tablet) {

      text-align: center;
      padding-left: 15px;
      padding-right: 15px;

    }

    &--prop {

      text-align: left;
      text-transform: none;
      width: 50%;
      border-width: 2px

    }

  }

  &__table-body-col-plugin {

    @media (min-width: $tablet) {

      display: none;

    }

  }

  &__table-body-col-state {

    vertical-align: middle;
    float: right;

    @media (min-width: $tablet) {

      float: none;

    }

  }

}
