.price {

  background-color: $gray-bg-color;
  background-image: url('../img/triangle-white.svg');
  background-repeat: no-repeat;
  background-size: 100% 32px;
  padding-top: 67px;
  padding-bottom: 99px;
  position: relative;

  &__table {

    width: 100%;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-collapse: collapse;
    background-color: #ffffff;

    &--plugins {

      display: none;

      @media (min-width: $tablet) {

        display: table;

      }

    }

    @media (min-width: $tablet) {

      float: left;
      width: 25%;

    }

  }

  &__table-head {

    background-color: $brand-color;
    color: #ffffff;

  }

  &__table-head-col {

    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;

    &--hit::after {

      content: attr(data-hit);
      display: block;
      width: 102px;
      background-color: #d22856;
      position: absolute;
      left: -24px;
      top: 11px;
      transform: rotate(-45deg);
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 600;

    }

  }

  &__table-head-col-usd {

    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 6px;

  }



  &__tabel-body {

    background-color: #fff;

  }

  &__table-body-col {

    text-transform: uppercase;
    border: 2px solid #e5e5e5;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 22px;
    text-align: left;
    line-height: 30px;

    &:first-child {

      border-top: none;

    }

    @media (min-width: $tablet) {

      text-align: center;

    }

  }

  &__table-body-col-plugin {

    @media (min-width: $tablet) {

      display: none;

    }

  }

  &__table-body-col-state {

    vertical-align: middle;
    float: right;

    @media (min-width: $tablet) {

      float: none;

    }

  }

}
