.review {

  overflow: hidden;
  padding-top: 41px;
  padding-bottom: 90px;
  position: relative;

  &__author {

    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #000;

  }

  &__text {

    line-height: 30px;
    text-align: center;
    margin: 0;

  }

}
