.review {

  padding-top: 43px;
  padding-bottom: 85px;
  position: relative;

  @media (min-width: $tablet) {

    padding-top: 37px;
    padding-bottom: 67px;

  }

  @media (min-width: $desktop) {

    padding-top: 184px;
    padding-bottom: 35px;
    background-image: url('../img/quotes.svg');
    background-repeat: no-repeat;
    background-size: 78px 64px;
    background-position: 50% 72px;

  }

  &__item {

    display: flex;
    flex-direction: column;

  }

  &__author {

    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #000;

    @media (min-width: $tablet) {

      order: 1;
      font-size: 20px;
      margin-bottom: 6px;

    }

    @media (min-width: $desktop) {

      font-size: 24px;
      margin-bottom: 4px;

    }

  }

  &__author-details {

    text-align: center;
    order: 2;

    @media (min-width: $desktop) {

    }

  }

  &__text {

    line-height: 30px;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet) {

      font-size: 18px;
      margin-bottom: 34px;

    }

    @media (min-width: $desktop) {

      margin-bottom: 36px;

    }

  }

}
