.site-name {

  display: block;
  width: 74px;
  height: 23px;
  background-image: url("../img/logotype-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
  float: left;

  @media (min-width: 700px) {

    width: 145px;
    height: 40px;
    background-image: url("../img/logotype-white-tablet.svg");

  }

  @media (min-width: $desktop) {

    background-image: url('../img/logotype-white-desktop.svg');

  }

  &--with-logo {

    float: none;

  }

}
